streamlit  # or the version you're using
matplotlib  # or the version you're using
numpy  # or the version you're using
pandas  # or the version you're using
plotly  # or the version you're using
streamlit-aggrid

